<p class="text-center fs-4 fw-bold mt-4">Login</p>
<form
  #loginForm="ngForm"
  (ngSubmit)="loginUser()"
  class="container mt-5 p-4 rounded shadow bg-light"
  style="max-width: 400px;"
>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      class="form-control"
      placeholder="Enter your email"
      required
    >
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="user.password"
      class="form-control"
      placeholder="Enter your password"
      required
    >
  </div>


  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary btn-block">
      Login
    </button>
  </div>

  <div class="text-center mt-3">
    <small>
      Don't have an account?
      <a routerLink="/register" class="text-decoration-none">Register</a>
    </small>
  </div>
</form>