<div class="container" style="margin-top: 20px;">
  <h2 class="header" style="text-align: center; color: green;">My Feedback</h2>
  <table class="table table-bordered" style="background-color: black; color: white;">
    <thead>
      <tr>
        <th>#</th>
        <th>Feedback Message</th>
        <th>Date</th>
        <th>Category</th>
        <th>Investment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of feedbacks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ feedback.feedbackText }}</td>
        <td>{{ feedback.date }}</td>
        <td>{{ feedback.category }}</td>
        <td>{{ feedback.investment.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
