select#userRole {
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
    border: 1px solid #00ff00; /* Green border */
    padding: 8px;
    border-radius: 4px;
}
.registration-form .form-control::placeholder {
    color: rgba(119, 119, 119, 0.7); /* Darker gray with some transparency */
  }