<p>user-add-inquiry works!</p>


<h2>Submit your Inquiry</h2>

<form [formGroup]="investmentinquiryForm" (ngSubmit)="addInquiry()">

    <label for="investment">Investment:</label> <br/>
    <input type="text" class="investment" id="investment" formControlName="investment" required> <br/>

    <label for="message">Message:</label> <br/>
    <textarea name="message" id="message" cols="30" rows="10" formControlName="message"></textarea> <br/>

    <label for="priority">Priority:</label> <br/>
    <select name="priority" id="priority" formControlName="priority">
        <option value="">Select Priority</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
    </select> <br/>

    <button type="submit">Submit Inquiry</button>

</form>