<div class="container">
  <h2>Your Inquiries</h2>
  <div *ngIf="inquiries; else noInquiries">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Investment</th>
          <th>Message</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Admin Response</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inquiry of inquiries">
          <td>{{ inquiry.investment.name }}</td>
          <td>{{ inquiry.message }}</td>
          <td>{{ inquiry.priority }}</td>
          <td>{{ inquiry.status }}</td>
          <td>{{ inquiry.adminResponse }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noInquiries>
    <p class="no-data">You have not submitted any inquiries yet.</p>
  </ng-template>
</div>
